<div class="foot">
    <div class="container">
        <div class="down-tab">  
            <div class="down-text">热门标签</div>
            <li><a href="/item/423">热爱昨天</a></li>
            <li><a href="/item/424">灰色轨迹</a></li>
            <li><a href="/item/420">吻下的眼泪</a></li>
            <li><a href="/item/419">风中划过的忧伤</a></li>
            <li><a href="/item/402">咪兔</a></li>
        </div>
        <div class="down-tab">
            <div class="down-text">关于我们</div>
            <li><a href="http://weibo.com/2542122931">@发现模特微博</a></li>
            <li><a href="http://weibo.com/2542122931">官方微博</a></li>
            <li>351936818(QQ)</li>
            <li><script src="http://s17.cnzz.com/stat.php?id=5519046&web_id=5519046" language="JavaScript"></script></li> 
        </div>
        <div class="down-tab">
            <div class="down-text">友情链接</div>
            <li><a href="http://pianke.com">片刻网</a></li>
            <li><a href="http://topit.me">TOPIT.ME</a></li> 
            <li><a href="http://huaban.com">花瓣图片网</a></li>
        </div> 
        <div style="clear:both;"></div>        
        <div class="down-line">
            收录极品美女 Copyright © 1996-2013   
        </div>
    </div>
</div>
