<!DOCTYPE>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />		
	<link rel="stylesheet" rev="stylesheet" href="/css/wap/wap.css" type="text/css" media="all" /> 
	<title>极品美女</title>
</head>
<body>
<div class="topbar fixed"> 
      <div class="topbar-inner">
          <ul class="index" style="float:left;">
                <li class="black">      
                      <a class="home" href="/"  title="主页">
                          <div class="new-wrapper">
                              <div class="nav-home"></div>
                              <div class="nav-new"></div>
                          </div>
                          <div class="text">主页</div>
                          <div style="clear:both;"></div>
                      </a>   
                </li>
                <li>
                    <a class="people" href="/comment"  title="动态">
                        <div class="new-wrapper">
                            <div class="nav-people"></div>
                            <div></div>
                        </div>
                        <div class="text">极品</div>
                         <div style="clear:both;"></div>
                    </a>
                </li>
                <li>
                    <a class="topics" href="/userinfo"  title="发现">
                        <div class="new-wrapper">
                            <div class="nav-topics"></div>
                            <div></div>
                        </div>
                        <div class="text">丝袜</div>
                         <div style="clear:both;"></div>
                    </a>
                </li>
          </ul> 
          <div style="clear:both;"></div>
      </div>
</div>
</body>
</html>
