<!DOCTYPE>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />		
    <meta property="wb:webmaster" content="bfa312168408a5bc" /> 
    <link href="/images/icon/favicon.ico" type="image/x-icon" rel="shortcut icon"> 
    <title>OICU社区动态--OICU.ME 优美图片分享社区</title>	
    <meta name="description" content="高品质灵感、清新、时尚、设计、插画、素描类优美图片分享社区。专业为用户提供精美的灵感、插画、摄影、抓拍、小清新图片素材，是目前最广泛的图片收藏、分享社区。目标是为用户提供更好的使用体验与生活享受。" />
      <meta name="keywords" content="优美图片分享 清新图片、微博头像，灵感图片、时尚图片、创意图片、图片设计、艺术图片、摄影照片、平面设计、精品图片、精美图片、唯美图片" />
 
    <link rel="stylesheet" rev="stylesheet" href="/css/common.css" type="text/css" media="all" />  
    <script type="text/javascript" src="/js/jquery.min.js"></script>         
</head>
<body>
    {=include file='include/menu.html'=} 
    <div class="blank"></div>
    <div class="main">  
        <div class="left">  
             <div style="border-bottom:1px solid #EEE;width:510px;margin:0 auto;padding-bottom:10px;margin-top:20px;text-align:left;">
                <h2 style="font-family:Microsoft YaHei;color:#333;font-weight:bold;font-size:17px;">最新动态</h2>
             </div>
             <div class="mbox">
                 {=foreach from=$commentList item=item=} 
                 <div class="cmt-box">
                      <div style="float:left;">
                          <img title="{=$item.from_userinfo.username=}" width=32 height=32 src="{=$item.from_userinfo.avartar=}">
                      </div>
                      <div style="margin-left:10px;width:430px;float:left;">
                          <div style="margin-top:-4px;line-height:20px;">
                              <a href="/home/view/{=$item.from_userinfo.id=}"><span style="color:#0A8CD2">{=$item.from_userinfo.username=}</span></a>
                              {=if $item.flag=}
                                回复<a target="_blank" href="/home/view/{=$item.to_userinfo.id=}">@{=$item.to_userinfo.username=}</a>
                              {=/if=}
                              ：{=$item.content=} ({=$item.timePass=})&nbsp;&nbsp;&nbsp;
                              <a href="/item/{=$item.pid=}" target="_blank">查看详情>></a>
                          </div> 
                      </div> 
                      <div style="clear:both;"></div>
                 </div>
                 {=/foreach=}
             </div>        
        </div>
        <div class="right" >
             {=include file='include/self.html'=} 
             {=include file='include/push.html'=} 
             {=include file='include/users.html'=}   
        </div>
        <div style="clear:both;"></div>
    </div>
    {=include file='include/foot.html'=} 
</body>                   
</html>         
