<!DOCTYPE>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />		
    <meta property="wb:webmaster" content="bfa312168408a5bc" /> 
    <link href="/images/icon/favicon.ico" type="image/x-icon" rel="shortcut icon"> 
    <title>修改密码-OICU.ME-优美图片分享社区</title>	
    <link rel="stylesheet" rev="stylesheet" href="/css/common.css" type="text/css" media="all" />  
    <script type="text/javascript" src="/js/jquery.min.js"></script>  
    <script type="text/javascript">
        function check(form)
        {
            if(!checkPassword(form.password.value)){
                form.password.focus();
                return false;
            }else if(!checkOld(form.old_password.value)){
                form.old_password.focus();
                return false;
            }else{
                return true;
            }
        }
       
        function checkOld(password){
                flag = false;
                $.ajax({
                    type:'post',
                    url:'/?s=userinfo&a=checkPass',
                    data:{password:password},
                    async:false,
                    cache:false,
                    success:function(data){
                        if(data.result.status.code==0){        
                            flag = true;
                        }else{
                            $("#old_password").html("原密码错误!"); 
                        }
                    }
                });     
                  
                return flag; 
        }
         
        
        function checkPassword(password)
        { 
            if(password==''){
                $('#password').html('对不起， 密码不能为空。');
                return false;
            }else if(password.length<6){
                $('#password').html('对不起， 密码不能少于6位。');
                $('input[name=password]').css({'border-color':'pink'});
                return false;
            }else{
                var myPas=/^[0-9A-Za-z]{6,}$/;
                if(!myPas.test(password)){
                    $('#password').html('对不起， 请输入6位以上字母数字密码。');
                     $('input[name=password]').css({'border-color':'pink'});
                    return false;
                }else{
                    $('#password').html('√');
                    $('input[name=password]').css({'border-color':'#DDD'});
                    return true;
                }
            }
        }
</script>      
</head>
<body>
    {=include file='include/menu.html'=} 
    <div class="blank"></div>
    <div class="main">  
        <div class="left" style="height:600px;"> 
            <div style="border-bottom:1px solid #EEE;width:510px;margin:0 auto;padding-bottom:10px;margin-top:20px;text-align:left;">
                <h2 style="font-family:Microsoft YaHei;color:#333;font-weight:bold;font-size:17px;">修改密码</h2>
            </div>
            <div class="login-box">
                  <form action="/?s=userinfo&a=updatePassword&ref={=$ref=}" class="new_user"  method="post" onSubmit="javascript:return check(this);">
                       <table><tbody>
                           <tr>
                               <td>旧密码</td>
                               <td><input  name="old_password" size="30"  type="password">&nbsp;&nbsp;<span id="old_password"></span></td>
                           </tr>
                           <tr>
                               <td>新密码</td>
                               <td><input  name="password" size="30" type="password">&nbsp;&nbsp;<span id="password"></span></td>
                           </tr> 
                            <tr>
                               <td><input type="hidden" name="reffer" value="{=$reffer=}"></td>
                               <td><input class="ubtn"  name="commit" value="" type="submit"></td>
                           </tr>
                       </tbody></table>
                   </form> 
            </div>        
        </div>
        <div class="right" >
             {=include file='include/self.html'=} 
             {=include file='include/push.html'=} 
             {=include file='include/users.html'=} 
        </div>
        <div style="clear:both;"></div>
    </div>
    <div class="foot"></div>
</body>                   
</html>                          
